<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/0d67f6bb4c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="header">
    <header>
      <div class="logo">EDU Q & A</div>
      <input class="search" placeholder="Search for topics..."><i class="fas fa-search"></i>
      <i class="fa fa-bell"></i>
      <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" class="user-img">
    </header></div>
    <div class="container">
      <div class="nav">
        <ul>
          <li class="list-item active"><i class="fa fa-home"></i>Home</li>
          <li class="list-item"><i class="far fa-compass"></i>Explore</li>
          <li class="list-item"><i class="fas fa-question"></i>My Topics</li>
          <li class="list-item"><i class="far fa-comment-alt"></i>My Answers</li>
        </ul>
      </div>
      <div class="qn-body-container">
        <div class="question">
          <h1 class="qn-title">What does the Fox Say?</h1>
          <p class="qn-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quod suscipit, excepturi quam, facere quisquam a aspernatur nemo alias, enim quos eaque explicabo vitae voluptas nisi libero dolorem fuga qui minima exercitationem iure. </p>
          <div class="qn-footer">
            <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" alt="User">
            posted By : Lorem
          </div>
        </div>
      </div>
      <div class="side-bar">
        <button class="btn-start">Start A New Topic</button>
        <div class="top-users">
          <ul>
             <li>
               <div class="user">
              <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" alt="fs">
              User
            </div>
             </li>
             <li>
           <div class="user">
            <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" alt="fs">
            User
          </div>
             </li>
           <div class="user">
            <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" alt="fs">
            User
          </div>
           <div class="user">
            <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" alt="fs">
            User
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>