<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EDU API Question & Answer</title>
    {{!-- <link href="./style.css" rel="stylesheet" type="text/css" /> --}}
    <script src="https://kit.fontawesome.com/0d67f6bb4c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.typemates.com/static/fonts/font-library/cera-pro/normal/thin/normal.css">
    <link rel="stylesheet" href="https://www.typemates.com/static/fonts/font-library/cera-pro/normal/thin/italic.css">
    <link rel="stylesheet" href="https://www.typemates.com/static/fonts/font-library/cera-pro/normal/light/normal.css">
    <link rel="stylesheet" href="https://www.typemates.com/static/fonts/font-library/cera-pro/normal/light/italic.css">
    <link rel="stylesheet" href="https://www.typemates.com/static/fonts/font-library/cera-pro/normal/regular/normal.css">
    <link rel="stylesheet" href="https://www.typemates.com/static/fonts/font-library/cera-pro/normal/regular/italic.css">
    <link rel="stylesheet" href="https://www.typemates.com/static/fonts/font-library/cera-pro/normal/medium/normal.css">
    <link rel="stylesheet" href="https://www.typemates.com/static/fonts/font-library/cera-pro/normal/medium/italic.css">
    <link rel="stylesheet" href="https://www.typemates.com/static/fonts/font-library/cera-pro/normal/bold/normal.css">
    <link rel="stylesheet" href="https://www.typemates.com/static/fonts/font-library/cera-pro/normal/bold/italic.css">
    <style type="text/css">
    body {
        font-family: cera-pro-normal-light-normal
    }
    header {
  position: absolute;
  width: 100vw;
  height: 66px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  position: absolute;
  width: 120px;
  height: 33px;
  left: 160px;
  top: 14px;
  background: #fcfcfc;
}

.search {
  position: absolute;
  width: 500px;
  height: 33px;
  left: 500px;
  top: 14px;
  background: #f3f3f3;
  border-radius: 5px;
}

.fa-bell {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1120px;
  top: 20px;
  color: rgb(206, 32, 32);
  font-size: 60px;
}

.user-img {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 1168px;
  top: 17px;
  border-radius: 50%;
  margin-left: 15px;
}
.container {
  position: absolute;
  width: 1364px;
  height: 694px;
  left: 0px;
  top: 66px;
}

.side-bar {
  position: absolute;
  width: 300px;
  height: 660px;
  left: 1000px;
  top: 40px;
}

.nav {
  position: absolute;
  width: 242px;
  height: 200px;
  left: 140px;
  top: 34px;
}

.list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 28px;
  left: 26px;
  top: 33px;
  color: #3d5af1;
  list-style: none;
  text-align: center;
  background-color: #e8ebfb;
}

.fa-home {
  padding-left: 15px;
}

.active {
  border-left: 10px solid #3d5af1;
}

li {
  margin: 5px;
}

.qn-body-container {
  position: absolute;
  width: 590px;
  height: 660px;
  left: 400px;
  top: 40px;
}

.question {
  position: absolute;
  width: 522px;
  height: 200px;
  left: 20px;
  top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.qn-title {
  position: absolute;
  height: 27px;
  left: 40px;
  top: 8px;
}

.qn-body {
  position: absolute;
  width: 460px;
  height: 120px;
  left: 40px;
  top: 40px;
  padding-top: 15px;
}

.qn-footer {
  position: absolute;
  width: 460px;
  height: 26px;
  left: 40px;
  top: 174px;
}

.qn-footer img {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 3px;
  top: 110px;
  border-radius: 50%;
}

.btn-start {
    position: absolute;
    width: 186px;
    height: 36px;
    left: 8px;
    top: 7px;
    color: white;
    font-size: 17px;
    outline: none;
    background: #3853e1;
    border-radius: 5px;
    font-family: monospace;
    border: none;
    box-shadow: 1px 1px 3px 1px #00000036;
    cursor: pointer;
}

.top-users {
  position: absolute;
  width: 181px;
  left: 20px;
  top: 60px;
}

.user {
  position: absolute;
  width: 181px;
  height: 28px;
  left: 0px;
  top: 50px;
}

.user img {
  border-radius: 50%;
  width: 18px;
}
</style>
  </head>
  <body>
    <div class="header">
    <header>
      <div class="logo">EDU Q & A</div>
      <input class="search" placeholder="Search for topics..."><i class="fas fa-search"></i>
      <div class="user-notif">
      <i class="fa fa-bell"></i>
      <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" class="user-img">
      </div>
    </header>
    </div>
    <div class="container">
      <div class="nav">
        <ul>
          <li class="list-item active"><i class="fa fa-home"></i>Home</li>
          <li class="list-item"><i class="far fa-compass"></i>Explore</li>
          <li class="list-item"><i class="fas fa-question"></i>My Topics</li>
          <li class="list-item"><i class="far fa-comment-alt"></i>My Answers</li>
        </ul>
      </div>
      <div class="qn-body-container">
        <div class="question">
          <h1 class="qn-title">What does the Fox Say?</h1>
          <p class="qn-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quod suscipit, excepturi quam, facere quisquam a aspernatur nemo alias, enim quos eaque explicabo vitae voluptas nisi libero dolorem fuga qui minima exercitationem iure. </p>
          <div class="qn-footer">
            <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" alt="User">
            posted By : {{ username }}
          </div>
        </div>
      </div>
      <div class="side-bar">
        <button class="btn-start">Start A New Topic</button>
        <div class="top-users">
          <ul>
             <li>
               <div class="user">
              <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" alt="fs">
              User
            </div>
             </li>
             <li>
           <div class="user">
            <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" alt="fs">
            User
          </div>
             </li>
           <div class="user">
            <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" alt="fs">
            User
          </div>
           <div class="user">
            <img src="https://pbs.twimg.com/profile_images/1293806680434671617/xinuC2hn_400x400.jpg" alt="fs">
            User
          </div>
        </div>
      </div>
    </div>
  </body>
</html>